* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
}

.todo {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 750px;
  height: 530px;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  font-size: 14px;

  &__sidebar {
    background-color: #f4f6f8;
    width: 200px;
    height: calc(100% - 120px);
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;
  }

  &__content {
    flex: 1;
    padding: 60px;
    overflow: auto;
  }
}

.button {
  background: #4dd599;
  border-radius: 4px;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 20px;

  &:hover {
    background: darken(#4dd599, 6%);
  }

  &:active {
    background: darken(#4dd599, 10%);
  }

}
.deletebtn{
  background: #f80303;
  border-radius: 4px;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 20px;

}
.completebtn{
  background: #4dd599;
  border-radius: 4px;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 20px;
  
}
.waitingbtn{
  background: #cecece;
  border-radius: 4px;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 20px;

}
.deal-item{
  justify-content:space-around;
  margin-left: 175px;
  font-size: 19px;
  color: #000000;
 
  }
.completed{
  color: green;
  opacity: 0.5;
  }
  .waiting{
    color: rgb(100, 100, 100);
    opacity: 0.5;
    }



.field {
  background: #ffffff;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  font-size: 14px;
}





